# Analyzing the top terror country dataset

In [2]:
# Importing the needed libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
#Loading and reading the data

data = pd.read_csv('./data/top_terror_countries.csv')

In [4]:
# display the first 5 rows of the dataset

data.head()

,Unnamed: 0,country,fatalities,latitude,longitude,country_original,country_code,country_name_iso2
0,85,Iraq,56914,34.596934,43.679485,العراق,iq,Iraq
1,0,Afghanistan,26295,36.728591,68.868066,افغانستان,af,Afghanistan
2,135,Pakistan,20854,34.013923,71.536462,‏پاکستان‎,pk,Pakistan
3,81,India,17940,19.075984,72.877656,India,in,India
4,131,Nigeria,17297,12.372109,14.210440,Nigeria,ng,Nigeria

In [5]:
# display the last 5 rows of the dataset

data.tail()

,Unnamed: 0,country,fatalities,latitude,longitude,country_original,country_code,country_name_iso2
70,23,Brazil,185,-22.908278,-43.197026,Brasil,br,Brazil
71,102,Liberia,177,5.880801,-10.046602,Liberia,lr,Liberia
72,145,Republic of the Congo,151,-4.361389,14.764444,République du Congo,cg,Congo
73,205,Zimbabwe,146,-16.646518,32.265389,Zimbabwe,zw,Zimbabwe
74,110,Malaysia,127,5.299445,100.460795,Malaysia,my,Malaysia

In [6]:
#names of all the columns in the dataset

data.columns

Index(['Unnamed: 0', 'country', 'fatalities', 'latitude', 'longitude',
       'country_original', 'country_code', 'country_name_iso2'],
      dtype='object')

In [8]:
# basic information about the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         75 non-null     int64
 1   country            75 non-null     object
 2   fatalities         75 non-null     int64
 3   latitude           75 non-null     float64
 4   longitude          75 non-null     float64
 5   country_original   75 non-null     object
 6   country_code       75 non-null     object
 7   country_name_iso2  75 non-null     object
dtypes: float64(2), int64(2), object(4)
memory usage: 3.6+ KB

In [9]:
data.shape

(75, 8)